*.out
*.gfa
*.csv
*.graphml
*.txt
*.fasta
*.gaf
*.err
*.finished
*.layout
*.layout.scfmap
*.layout.scfmap.dropped
*.map
*.cnspack
*.paf
*.bed
*.prelift
*.chn
*.lifted.bed
*.lifted.bed.final
*.json
*.fa
*.gz
*.vcf
*.lst
*.unmapped
*.bgz
*.tbi
*.idx
*.bam
*.chain
*.sam
*.log
*.vst
*.mak
*.bai
*.png
*.html
*.gnomad_drop
*.gnomad_keep
*.swp
